@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Client Inventory</h1>
    <p>This is about creating an ASP.NET core web application with SQL server database connection and CRUD operations</p>
</div>
